<!DOCTYPE html>
<html>
	<head>
		<title>Chickenbot</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/chickenbot.css">
		<link rel="icon" type="image/png" href="/favicon.png" sizes="64x64">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Chickenbot">
		<meta property="og:description" content="Chicken care task rotation managed by Google Sheet and SMS">
		<meta property="og:image" content="<%= url %>facebook.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@dphiffer">
		<meta name="twitter:title" content="Chickenbot">
		<meta name="twitter:image" content="<%= url %>twitter.jpg">
		<meta name="twitter:description" content="Chicken care task rotation managed by Google Sheet and SMS">
	</head>
	<body>
		<%- body %>
	</body>
</html>
