{
    "server": {
        "port": 3000,
        "host": "0.0.0.0",
        "url": "http://localhost:3000/"
    },
    "logger": {
        "transport": {
            "target": "pino-pretty",
            "options": {
                "translateTime": "SYS:HH:MM:ss",
                "ignore": "pid,hostname,reqId,responseTime,req,res",
                "messageFormat": "{msg} {req.method} {req.url}"
            }
        }
    },
    "google": {
        "spreadsheetId": "<From the URL of your Google spreadsheet>",
        "credentials": "./config/<Google Service Key>.json",
        "webhookSecret": "xxx"
    },
    "twilio": {
        "accountSid": "<Twilio account SID from console.twilio.com>",
        "authToken": "<Twilio account auth token from console.twilio.com>",
        "phone": "+15185551212"
    },
    "calendar": {
        "timezone": "America/New_York",
        "latitude": 0.0,
        "longitude": 0.0
    }
}
