module.exports = {
	url: '<The URL of the chickenbot server e.g. https://chickenbot.example.com/>'
	timezone: 'America/New_York',
	latitude: 0,
	longitude: 0,
	chickenbotPhone: '+15185551212',
	server: {
		port: 3000,
		host: '0.0.0.0'
	},
	google: {
		spreadsheetId: '<From the URL of your Google spreadsheet>',
		creds: require('./<Google Service Key>.json'),
		webhookSecret: '<Shared secret, generate with: openssl rand -hex 40>'
	},
	twilio: {
		accountSid: '<Twilio account SID>',
		authToken: '<Twilio account auth token>'
	}
};
